@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Get to Know Joel";
}

<h1>Get to Know Joel</h1>

<p>
    Visit <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a> where Joel performs regularly.
</p>
<p>
    Check out <a href="https://baconsale.com/" target="_blank">Baconsale</a> for his film & pop culture podcast.
</p>
<p>
    <a href="https://baconsale.com/" target="_blank">
        <img src="https://byu.box.com/s/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4" alt="Baconsale" />
    </a>
</p>